			<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">控制面板</li>
						<li><a class="ajax-link" href="/index/"><i class="icon icon-color icon-home"></i><span class="hidden-tablet"> 管理平台</span></a></li>
						<li><a class="ajax-link" href="/user/"><i class="icon icon-color icon-user"></i><span class="hidden-tablet"> 用户管理</span></a></li>
						<li class="nav-header hidden-tablet">监控</li>
						<li><a class="ajax-link" href="/monitor/network/"><i class="icon-eye-open"></i><span class="hidden-tablet"> 流量监控</span></a></li>
						<!--<li><a class="ajax-link" href="/monitor/server/"><i class="icon-eye-open cus-monitor"></i><span class="hidden-tablet"> 服务器监控</span></a></li>-->
						<li class="nav-header hidden-tablet">服务管理</li>
						<!--<li><a class="ajax-link" href="/assets/server/"><i class="icon-eye-open cus-plugin"></i><span class="hidden-tablet"> SVN权限</span></a></li>-->
						<li><a class="ajax-link" href="/switch/bonding/"><i class="icon-eye-open cus-link"></i><span class="hidden-tablet"> 3D端口绑定</span></a></li>
						<!--<li><a class="ajax-link" href="/switch/switch_tools/"><i class="icon-eye-open cus-link"></i><span class="hidden-tablet"> 工具</span></a></li>-->
						<li class="nav-header hidden-tablet">资产管理</li>
						<li><a class="ajax-link" href="/assets/server/"><i class="icon-eye-open cus-server"></i><span class="hidden-tablet"> 设备资产</span></a></li>
						<!--<li><a class="ajax-link" href="/assets/office/"><i class="icon-eye-open cus-computer"></i><span class="hidden-tablet"> 办公资产</span></a></li>-->
						<li class="nav-header hidden-tablet">服务器</li>
						<li><a class="ajax-link" href="/server/list/"><i class="icon-eye-open cus-server"></i><span class="hidden-tablet"> 服务器列表</span></a></li>
						<li class="nav-header hidden-tablet">网络设备</li>
						<li><a class="ajax-link" href="/switch/"><i class="icon-align-justify cus-drive_network"></i><span class="hidden-tablet"> 交换机列表</span></a></li>
					</ul>
					<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->