{% include 'head.html' %}
{% include 'top.html' %}
{% include 'left.html' %}

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="">{{ a_path }}</a>
					</li>
				</ul>
			</div>
			
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> {{ a_path }}</h2>
						<div class="box-icon">
							<a href="/switch/add/" class="btn btn-round"><i class="icon icon-add"></i></a>
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						{% if error %}
						<legend><div class="alert {{ alert }}">{{error}}</div></legend>
						{% endif %}
<script type="text/javascript">
			$(function(){
				var output = [{% for i in form%}
							'{{i.traffic_output}}',
							{% endfor %}];
				var input = [{% for i in form%}
							'{{i.traffic_input}}',
							{% endfor %}];;
				var data = [
				         	{
				         		name : '下载',
				         		value:input,
				         		color:'#aad0db',
				         		line_width:2
				         	},
				         	{
				         		name : '上传',
				         		value:output,
				         		color:'#f68f70',
				         		line_width:2
				         	}
				         ];
				//创建x轴标签文本   
				var date = new Date()
				date.setDate(date.getDate()-6);
				var labels = [{% for i in form%}
							'{{i.datatime | date:"H:i:s"}}',
							{% endfor %}];
				var chart = new iChart.Area2D({
					render : 'canvasDiv-bytes',
					data: data,
					align:'center',
					title : 'Cisco ASA 实时带宽图 bytes/sec',
					subtitle : '',
					footnote : 'Cisco ASA 192.168.253.2 Ethernet0/1',
					width : 950,
					height : 350,
					background_color:'#FEFEFE',
					tip:{
						enable:true,
						shadow:true,
						move_duration:200,
						border:{
							 enable:true,
							 radius : 5,
							 width:2,
							 color:'#3f8695'
						},
						listeners:{
							 //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
							parseText:function(tip,name,value,text,i){
								return name+": "+value+" bytes/sec";
							}
						}
					},
					tipMocker:function(tips,i){
						return "<div style='font-weight:600'>"+
								labels[i]+" "+//日期
								"</div>"+tips.join("<br/>");
					},
					legend : {
						enable : true,
						row:1,//设置在一行上显示，与column配合使用
						column : 'max',
						valign:'top',
						sign:'bar',
						background_color:null,//设置透明背景
						offsetx:-80,//设置x轴偏移，满足位置需要
						border : true
					},
					crosshair:{
						enable:true,
						line_color:'#3f8695',
						line_width:2
					},
					sub_option : {
						label:false,
						point_size:10
					},
					coordinate:{
						width:800,
						height:200,
						axis:{
							color:'#dcdcdc',
							width:1
						},
						scale:[{
							 position:'left',	
							 start_scale:0,
							 end_scale:0,
							 scale_space:0,
							 scale_size:2,
							 scale_color:'#9f9f9f'
						},{
							 position:'bottom',	
							 labels:labels
						}]
					}
				});
			
			//开始画图
			chart.draw();
		});
</script>

<script type="text/javascript">
			$(function(){
				var output = [{% for i in form%}
							'{{i.packets_output}}',
							{% endfor %}];
				var input = [{% for i in form%}
							'{{i.packets_input}}',
							{% endfor %}];;
				var data = [
				         	{
				         		name : '下行数据包',
				         		value:input,
				         		color:'#0d8ecf',
				         		line_width:2
				         	},
				         	{
				         		name : '上行数据包',
				         		value:output,
				         		color:'#ec4646',
				         		line_width:2
				         	}
				         ];
				//创建x轴标签文本   
				var date = new Date()
				date.setDate(date.getDate()-6);
				var labels = [{% for i in form%}
							'{{i.datatime | date:"H:i:s"}}',
							{% endfor %}];
				var chart = new iChart.Area2D({
					render : 'canvasDiv-pkts',
					data: data,
					align:'center',
					title : 'Cisco ASA 实时数据包 pkts/sec',
					subtitle : '',
					footnote : 'Cisco ASA 192.168.253.2 Ethernet0/1',
					width : 950,
					height : 350,
					background_color:'#FEFEFE',
					tip:{
						enable:true,
						shadow:true,
						move_duration:200,
						border:{
							 enable:true,
							 radius : 5,
							 width:2,
							 color:'#3f8695'
						},
						listeners:{
							 //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
							parseText:function(tip,name,value,text,i){
								return name+": "+value+" pkts/sec";
							}
						}
					},
					tipMocker:function(tips,i){
						return "<div style='font-weight:600'>"+
								labels[i]+" "+//日期
								"</div>"+tips.join("<br/>");
					},
					legend : {
						enable : true,
						row:1,//设置在一行上显示，与column配合使用
						column : 'max',
						valign:'top',
						sign:'bar',
						background_color:null,//设置透明背景
						offsetx:-80,//设置x轴偏移，满足位置需要
						border : true
					},
					crosshair:{
						enable:true,
						line_color:'#3f8695',
						line_width:2
					},
					sub_option : {
						label:false,
						point_size:10
					},
					coordinate:{
						width:800,
						height:200,
						axis:{
							color:'#dcdcdc',
							width:1
						},
						scale:[{
							 position:'left',	
							 start_scale:0,
							 end_scale:0,
							 scale_space:0,
							 scale_size:2,
							 scale_color:'#9f9f9f'
						},{
							 position:'bottom',	
							 labels:labels
						}]
					}
				});
			
			//开始画图
			chart.draw();
		});
</script>

<script type="text/javascript">
			$(function(){
				var min = [{% for i in form%}
							'{{i.ping_min}}',
							{% endfor %}];
				var avg = [{% for i in form%}
							'{{i.ping_avg}}',
							{% endfor %}];;
				var max = [{% for i in form%}
							'{{i.ping_max}}',
							{% endfor %}];;
				var data = [
				         	{
				         		name : 'ping 最小值',
				         		value:min,
				         		color:'#dad81f',
				         		line_width:2
				         	},
				         	{
				         		name : 'ping 平均值',
				         		value:avg,
				         		color:'#f68f70',
				         		line_width:2
				         	},
				         	{
				         		name : 'ping 最大值',
				         		value:max,
				         		color:'#1f7e92',
				         		line_width:2
				         	}
				         ];
				//创建x轴标签文本   
				var date = new Date()
				date.setDate(date.getDate()-6);
				var labels = [{% for i in form%}
							'{{i.datatime | date:"H:i:s"}}',
							{% endfor %}];
				var chart = new iChart.Area2D({
					render : 'canvasDiv-ping',
					data: data,
					align:'center',
					title : 'Cisco ASA Ping 114.247.25.73 -n 100 ms',
					subtitle : '',
					footnote : 'Cisco ASA 192.168.253.2 Ethernet0/1',
					width : 950,
					height : 350,
					background_color:'#FEFEFE',
					tip:{
						enable:true,
						shadow:true,
						move_duration:200,
						border:{
							 enable:true,
							 radius : 5,
							 width:2,
							 color:'#3f8695'
						},
						listeners:{
							 //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
							parseText:function(tip,name,value,text,i){
								return name+": "+value+" ms";
							}
						}
					},
					tipMocker:function(tips,i){
						return "<div style='font-weight:600'>"+
								labels[i]+" "+//日期
								"</div>"+tips.join("<br/>");
					},
					legend : {
						enable : true,
						row:1,//设置在一行上显示，与column配合使用
						column : 'max',
						valign:'top',
						sign:'bar',
						background_color:null,//设置透明背景
						offsetx:-80,//设置x轴偏移，满足位置需要
						border : true
					},
					crosshair:{
						enable:true,
						line_color:'#3f8695',
						line_width:2
					},
					sub_option : {
						label:false,
						point_size:10
					},
					coordinate:{
						width:800,
						height:200,
						axis:{
							color:'#dcdcdc',
							width:1
						},
						scale:[{
							 position:'left',	
							 start_scale:0,
							 end_scale:0,
							 scale_space:0,
							 scale_size:2,
							 scale_color:'#9f9f9f'
						},{
							 position:'bottom',	
							 labels:labels
						}]
					}
				});
			
			//开始画图
			chart.draw();
		});
</script>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-th"></i> 实时带宽图</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="row-fluid">
							<div id='canvasDiv-bytes'></div>
						</div>                   
					</div>
				</div><!--/span-->
			</div><!--/row-->

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-th"></i> 数据包</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="row-fluid">
							<div id='canvasDiv-pkts'></div>
						</div>                   
					</div>
				</div><!--/span-->
			</div><!--/row-->

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-th"></i> Ping值</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="row-fluid">
							<div id='canvasDiv-ping'></div>
						</div>                   
					</div>
				</div><!--/span-->
			</div><!--/row-->




					</div>
				</div><!--/span-->
			</div><!--/row-->

			<!-- content ends -->
			</div><!--/#content.span10-->
			</div><!--/fluid-row-->
				
		<hr>

		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settingsss试试</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">取消</a>
				<a href="#" class="btn btn-primary">保存</a>
			</div>
		</div>

{% include 'footer.html' %}